<launch>
  <arg name="kinova_robotName" default="j2s6s200"/>
  <arg name="harvester_robotName" default="harvester1"/>
  <arg name="paused" default="true"/> <!-- old true -->
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <!-- Launch world -->
  <include file="$(find harvester_gazebo)/launch/harvester_world.launch">
    <arg name="world_name" value="worlds/strawberry_plant.world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/> <!-- old true -->
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>
  
  <!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description"
    command="$(find xacro)/xacro --inorder '$(find harvester_description)/urdf/$(arg harvester_robotName).xacro'" />

  <!-- Launch ros_control controllers -->
  <include file="$(find harvester_control)/launch/harvester_control.launch">
    <arg name="kinova_robotName" value="$(arg kinova_robotName)"/>
    <arg name="harvester_robotName" value="$(arg harvester_robotName)"/>
    <arg name="stopped" value="true"/> <!-- old true -->
  </include>

  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
   args="-urdf -model $(arg kinova_robotName) -param robot_description -J j2s6s200_joint_1 -1.5 -J j2s6s200_joint_2 2.89 -J j2s6s200_joint_3 4.67 -J j2s6s200_joint_4 6.14 -J j2s6s200_joint_5 1.76 -J j2s6s200_joint_6 4.85"/>

  <!-- Initialize robot pose -->
  <node name="set_start_config" pkg="harvester_control" type="set_config.sh"
    respawn="false" output="screen"/>

  <node name="command_robot_home_pose" pkg="harvester_control" type="move_robot.py"
    respawn="false" output="screen" args="$(arg kinova_robotName)"/>

  <!-- Start Moveit! -->
  <include file="$(find harvester_moveit)/launch/harvester_moveit.launch">
  </include>
</launch>
