<?xml version="1.0"?>

<model>
  <name>Random Strawberry Generator</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>

  <author>
    <name>Jonathon Sather</name>
    <email>jonathon.sather@gmail.com</email>
  </author>

  <description>
    Creates strawberry model with "random" parameters.
  </description>
</model>
